body {
    margin: 0;
    padding: 0;
    background-image: url('../img/fondo1.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
  }
  
  .container {
    width: 100%;
    max-width: 800px;
  }
  